* {
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
}
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
}
.title {
    width: 195px;
    height: 105px;
    margin-top: 15px;
    border: 1px solid;
}
.info-bar li {
    height: 30px;
    padding: 4px 15px 4px 0;
    color: #203c81;
    font-size: 14px;
}
.info-bar li.invert-color {
    padding: 4px 15px;
    color: #fff;
    background-color: #203c81;
}
nav {
    margin-top: 45px;
}
nav li {
    width: 90px;
    height: 90px;
    padding: 12px 0;
    color: #203c81;
    font-size: 16px;
    text-align: center;
}
nav li .icon {
    font-size: 30px;
}
nav li .text {
    display: block;
}
nav li:hover {
    position: relative;
    color: #fff;
    background-color: #33cccc;
    cursor: pointer;
}
nav li:hover .icon {
    color: inherit;
}
.sub-list {
    display: none;
    z-index: 100;
}
nav li:hover .sub-list {
    display: block;
    position: absolute;
    width: 225px;
    margin: 17px 0 0 -65px;
    padding: 40px 0 0 0;
    background: linear-gradient(to bottom, #ddd 0%,#fff 100%);
}
.sub-list:before {
    content: '';
    position: absolute;
    top: 0;
    left: 94px;
    border-width: 15px;
    border-style: solid;
    border-color: #33cccc transparent transparent transparent;
}
.sub-list li {
    color: #666;
    width: 225px;
    height: auto;
    padding: 7px 30px;
    font-size: 11px;
    font-family: Verdana;
    text-align: left;
}
.sub-list li:hover {
    color: #666;
    background-color: #ccc;
}
.sub-sub-list {
    display: none;
}
.sub-list li:hover .sub-sub-list {
    display: block;
    position: absolute;
    top: 0;
    left: 225px;
    margin: 0;
    padding: 12px 0 0 0;
    background: linear-gradient(to bottom, #ddd 0%,#fff 100%);
}

section {
    background: url('../images/slider-bg.jpg') no-repeat center center;
}
.slider {
    position: relative;
    max-width: 1280px;
    height: 350px;
    margin: 0 auto;
    padding: 60px 250px;
}
.control {
    position: absolute;
    top: 160px;
    display: inline-block;
    border-width: 30px;
    border-style: solid;
}
.control:hover {
    cursor: pointer;
}
.control-right {
    right: 0;
    border-color: transparent transparent transparent #fff;
}
.control-left {
    left: 0;
    border-color: transparent #fff transparent transparent;
}
article {
    margin-bottom: 60px;
    overflow: hidden;
    color: #fff;
}
article > img {
    border: 1px solid #fff;
}
article > div {
    width: 400px;
    margin-left: 60px;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.icon {
    color: #ccc;
}
.inline-list {
    margin: 0;
    padding-left: 0;
}
.inline-list li {
    display: inline-block;
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.clear-right {
    clear: right;
}
.hide {
    display: none;
}
